#background{
  width:100%;
  height:100vh;
  background-image:url("https://images.unsplash.com/photo-1471864190281-a93a3070b6de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;

}
#signUp{
  width:30%;
  height: 60vh;
  margin:auto;
  border-radius: 15px;
  background-color:aquamarine;
  text-align: center;
  position: relative;
  top:20%;
}
#username{
  position: relative;
  top:5%;
}
#user{
  position: relative;
  top:10%;
}
#pass{
  position: relative;
  top:15%;
  left:8%; 
}
.input-field{
  margin-left:5px;
  padding:8px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#cancel-bth{
  position: relative;
  top:34%;
  right:10%;
  padding:8px 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color:red;
  color: white;
}
#signin-btn{
  position: relative;
  top:25%;
  right:20%;
  padding:8px 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color: blue;
  color: white;
}
#msg{
  margin-left:38%;
  bottom: 30%;
  position: absolute;
}
#login-signup{
  margin-left:48%;
  position: absolute;
  top:72%;
  padding:8px 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color: blue;
  color: white;
}
#signIn{
  text-align: center;
}
#loguser{
  position: absolute;
  top: 30%;
  right: 17%;
}
#logpass{
  position: absolute;
  top: 50%;
  right: 17%;
}
#log-cancel-bth{
  margin-top: 40%;
  padding:8px 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color:red;
  color: white;
}
#log-signin-btn{
  margin-left:15%;
  padding:8px 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color:blue;
  color: white;
}